<div id="form-wrapper">
	<div id="falecom-formulario"><{$o_o}></div>
	<div id="falecom-panel">
		<p><b>Horário de funcionamento</b><br/>Segunda à Sexta, 08 às 18h</p>
	</div>
	<div style="clear: both">
    </div>
	<div id="falecom-mapa">
		<iframe width="840" height="172" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Maestro+Comunica%C3%A7%C3%A3o,+Ipatinga+-+Minas+Gerais,+Brasil&amp;aq=0&amp;sll=-19.467776,-42.557441&amp;sspn=0.005301,0.006899&amp;ie=UTF8&amp;hq=Maestro+Comunica%C3%A7%C3%A3o,&amp;hnear=Ipatinga+-+Minas+Gerais,+Brasil&amp;ll=-19.468201,-42.558244&amp;spn=0.006295,0.046512&amp;output=embed"></iframe>
	</div>
</div>